@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    src: url("\Yekan.ttf");
    font-family: "Yekan";
    font-style: normal;
  }
}

@layer base {
  body {
    background: #f5f5f5;
    font-family: "Yekan", sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hidden_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hidden_scrollbar::-webkit-scrollbar {
    display: none;
  }
}

html {
  scrollbar-width: none;
}

html {
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: B;
  src: url("../public/BByakan.ttf") format("truetype");
}
